:root {
  --container-width: 100vw;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  color: rgb(255, 255, 255);
}

body {
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(202, 210, 221);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: var(--text-basic-color);
}

.slider {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  background-color: rgb(60, 56, 106);
  border: 1vw solid rgb(60, 56, 106);
  overflow: hidden;
}

.slider_img {
  display: flex;
  width: 400%;
  height: calc(var(--container-width) / 3);;
}

.slider_img img {
  width: 25%;
  height: 100%;
  object-fit: cover;
}

.slider_info {
  display: flex;
  justify-content: space-between;
}

.slider_text {

}

.slider_controls {
  display: flex;
  list-style: none;
}

.slider_controls-button {
  background-color: rgb(251, 151, 206);
  border-radius: 50%;
}

input[name="slides"] {
  width: 0;
  visibility: hidden;
}

@keyframes oneslide {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(0%, 0);
  }
}

@keyframes twoslide {
  from {
    transform: translate(0%, 0);
  }

  to {
    transform: translate(-100%, 0);
  }
}

@keyframes threeslide {
  from {
    transform: translate(-100%, 0);
  }

  to {
    transform: translate(-200%, 0);
  }
}

@keyframes fourslide {
  from {
    transform: translate(-200%, 0);
  }

  to {
    transform: translate(-300%, 0);
  }
}

.s-1 {
  transition: all .7s;
}

#slide-1:checked ~ .s-1 {
  margin-left: 0%;
  /*transform: translate(0%, 0);
  animation-duration: 3s;
  animation-name: oneslide;*/
}

#slide-2:checked ~ .s-1 {
  margin-left: -25%;
  /*transform: translate(-100%, 0);
  animation-duration: 3s;
  animation-name: twoslide;*/
}

#slide-3:checked ~ .s-1 {
  margin-left: -50%;
  /*transform: translate(-200%, 0);
  animation-duration: 3s;
  animation-name: threeslide;*/
}

#slide-4:checked ~ .s-1 {
  margin-left: -75%;
  /*transform: translate(-300%, 0);
  animation-duration: 3s;
  animation-name: fourslide;*/
}

label {
  width: 50px;
  height: 50px;
}