* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body {
  min-height: 100vh;
  margin: 0; 
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(202, 210, 221);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: var(--text-basic-color);
}

.slider {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  background-color: rgb(60, 56, 106);
}

.slider_img img {
  width: 100%;
}

.slider_info {
  display: flex;
  justify-content: space-between;
}

.slider_text {

}

.slider_controls {
  display: flex;
  list-style: none;
}

.slider_controls-button {
  background-color: rgb(251, 151, 206);
  border-radius: 50%;
}